extends partials/templates/template.pug

block content
    .container
      .row
        .col-xs-12
          include partials/components/breadcrumbs.pug
    .container
      .row
        .col-xs-12
          include partials/components/card.pug
