extends partials/templates/template.pug

block content
    .container
      .row
        .col-xs-12.col-md-3
          include partials/components/sidebar.pug
        .col-xs-12.col-md-9
          include partials/components/slider.pug
          include partials/components/catalog.pug