.footer {
  .row {
    align-items: center;
    min-height: 60px;
    @include mq($from:xs, $until:sm){
      justify-content: center;
    }
  }
  &__text {
    display: inline-block;
    font-size: 14px;
    padding-right: 15px;
    padding-left: 3px;
    @include mq($from:xs, $until:sm){
      display: block;
    }
    a {
      color: $white;
      text-decoration: underline;
    }
  }
}

