mixin cardItem(img,date,title)
  +e.A.box(href="page.html")
    img(src= "img/" + img alt="img" itemprop="image")
    +e.P.title #{title}
          +e.A.title(href="page.html" itemprop="text") #{title}