include ../abstracts/bemto/bemto.pug

+b.breadcrumbs
  +e.UL.list
    +e.LI.item
      +e.A.link(href="#") Санкт-Петербург
    +e.LI.item
      +e.A.link(href="#") Наперстки
    +e.LI.item
      +e.SPAN.name Сувенир Наперсток СПБ