include ../abstracts/bemto/bemto.pug

+b.SECTION.catalog
  .container
    .row
      .col-xs-4
        +e.A.card--new(href="#")
          +e.IMG.img(src="img/item.jpg" alt="item")
          +e.P.title Сувенир Наперсок
          +e.P.city Санкт-Петербург
          +e.P.price 100 руб/штука
          +e.P.quantity 10 штук в упаковке
          +e.A.btn В корзину
          +e.P.code арт. 256 89 687
      .col-xs-4
        +e.A.card--sale(href="#")
          +e.IMG.img(src="img/item.jpg" alt="item")
          +e.P.title Сувенир Наперсок
          +e.P.city Санкт-Петербург
          +e.P.price 100 руб/штука
          +e.P.quantity 10 штук в упаковке
          +e.A.btn В корзину
          +e.P.code арт. 256 89 687
      .col-xs-4
        +e.A.card(href="#")
          +e.IMG.img(src="img/item.jpg" alt="item")
          +e.P.title Сувенир Наперсок
          +e.P.city Санкт-Петербург
          +e.P.price 100 руб/штука
          +e.P.quantity 10 штук в упаковке
          +e.A.btn--in-card В корзине
          +e.P.code арт. 256 89 687
      .col-xs-4
        +e.A.card(href="#")
          +e.IMG.img(src="img/item.jpg" alt="item")
          +e.P.title Сувенир Наперсок
          +e.P.city Санкт-Петербург
          +e.P.price 100 руб/штука
          +e.P.quantity 10 штук в упаковке
          +e.A.btn В корзину
          +e.P.code арт. 256 89 687
      .col-xs-4
        +e.A.card(href="#")
          +e.IMG.img(src="img/item.jpg" alt="item")
          +e.P.title Сувенир Наперсок
          +e.P.city Санкт-Петербург
          +e.P.price 100 руб/штука
          +e.P.quantity 10 штук в упаковке
          +e.A.btn В корзину
          +e.P.code арт. 256 89 687
      .col-xs-4
        +e.A.card(href="#")
          +e.IMG.img(src="img/item.jpg" alt="item")
          +e.P.title Сувенир Наперсок
          +e.P.city Санкт-Петербург
          +e.P.price 100 руб/штука
          +e.P.quantity 10 штук в упаковке
          +e.A.btn В корзину
          +e.P.code арт. 256 89 687