include ../abstracts/bemto/bemto.pug

+b.catalog-header
  +e.H2.title Санкт-Петербург - Магниты
  +e.wrapper
    +e.SELECT.select
      option Регион
      option Регион
      option Регион
      option Регион
    +e.SELECT.select
      option Изделие
      option Изделие
      option Изделие
      option Изделие
    +e.SELECT.select
      option Материал
      option Материал
      option Материал
      option Материал
    +e.SELECT.select
      option Цена
      option Цена
      option Цена
      option Цена
    +e.FORM.form
      +e.P.sale Распродажа
      +e.INPUT.input(type="checkbox")