include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  .container.container--footer
    .row
      +e.P.text © Copyright 2017
      +e.P.text «АКМ Сувениры»
      +e.P.text Создание сайта:
        a(href="#") SV-Design




