include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  .container
    .row
      .col-xs-12.col-sm-3
        // Logo
        +b.A.logo(href="index.html")
          img(src="img/logo.svg", alt="logo", title="logo")
        +b.FORM.search
          +e.INPUT.input(type='text', name='Найти', placeholder='Найти')
          +e.BUTTON.button
      .col-xs-12.col-sm-9
        +b.contacts
          +e.P.city г. Санкт-Петербург
          +e.P.tel
            a(href="tel:+78123253332", target="_blank") +7 (812) 325 33 32
            a(href="tel:+78123161818", target="_blank") +7 (812) 316 18 18
            a(href="tel:+78124000670", target="_blank") +7 (812) 400 06 70
          +e.P.time с 10.00 до 19.00
          +b.cart
            +e.SPAN.quantity 198
            +e.P.price 156 356
            +e.A.btn(href="#" title="Оформить заказ") Оформить заказ
        +b.nav
          +e.UL.list
            +e.LI.item
              +e.A.link(href="index.html") Каталог
            +e.LI.item
              +e.A.link(href="index.html") О компании
            +e.LI.item
              +e.A.link(href="index.html") Условия работы
            +e.LI.item
              +e.A.link(href="index.html") Контакты
            +e.LI.item--last
              +e.A.link--last(href="index.html") Распродажа