include ../abstracts/bemto/bemto.pug


+b.sidebar
  +b.mobile-nav
    +e.P.text Каталог сувениров
    +e.A.hamburger
  +e.UL.list
    +e.LI.item--active
      +e.A.link(href="#") Санкт-Петербург
        +e.UL.sublist
          +e.LI.subitem
            +e.A.sublink--active(href="#") Магниты
          +e.LI.subitem
            +e.A.sublink(href="#") Брелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кружки
          +e.LI.subitem
            +e.A.sublink(href="#") Тарелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кулоны
    +e.LI.item
      +e.A.link(href="#") Москва
        +e.UL.sublist
          +e.LI.subitem
            +e.A.sublink(href="#") Магниты
          +e.LI.subitem
            +e.A.sublink(href="#") Брелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кружки
          +e.LI.subitem
            +e.A.sublink(href="#") Тарелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кулоны
    +e.LI.item
      +e.A.link(href="#") Сочи
        +e.UL.sublist
          +e.LI.subitem
            +e.A.sublink(href="#") Магниты
          +e.LI.subitem
            +e.A.sublink(href="#") Брелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кружки
          +e.LI.subitem
            +e.A.sublink(href="#") Тарелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кулоны
    +e.LI.item
      +e.A.link(href="#") Великий Новгород
        +e.UL.sublist
          +e.LI.subitem
            +e.A.sublink(href="#") Магниты
          +e.LI.subitem
            +e.A.sublink(href="#") Брелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кружки
          +e.LI.subitem
            +e.A.sublink(href="#") Тарелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кулоны
    +e.LI.item
      +e.A.link(href="#") Петергоф
        +e.UL.sublist
          +e.LI.subitem
            +e.A.sublink(href="#") Магниты
          +e.LI.subitem
            +e.A.sublink(href="#") Брелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кружки
          +e.LI.subitem
            +e.A.sublink(href="#") Тарелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кулоны
    +e.LI.item
      +e.A.link(href="#") Псков
        +e.UL.sublist
          +e.LI.subitem
            +e.A.sublink(href="#") Магниты
          +e.LI.subitem
            +e.A.sublink(href="#") Брелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кружки
          +e.LI.subitem
            +e.A.sublink(href="#") Тарелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кулоны
    +e.LI.item
      +e.A.link(href="#") Печёры
        +e.UL.sublist
          +e.LI.subitem
            +e.A.sublink(href="#") Магниты
          +e.LI.subitem
            +e.A.sublink(href="#") Брелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кружки
          +e.LI.subitem
            +e.A.sublink(href="#") Тарелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кулоны
    +e.LI.item
      +e.A.link(href="#") Изборск
        +e.UL.sublist
          +e.LI.subitem
            +e.A.sublink(href="#") Магниты
          +e.LI.subitem
            +e.A.sublink(href="#") Брелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кружки
          +e.LI.subitem
            +e.A.sublink(href="#") Тарелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кулоны
    +e.LI.item
      +e.A.link(href="#") Универсальные сувениры
        +e.UL.sublist
          +e.LI.subitem
            +e.A.sublink(href="#") Магниты
          +e.LI.subitem
            +e.A.sublink(href="#") Брелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кружки
          +e.LI.subitem
            +e.A.sublink(href="#") Тарелки
          +e.LI.subitem
            +e.A.sublink(href="#") Кулоны
    +e.LI.item
      +e.A.link(href="#") Кулоны
    +e.LI.item
      +e.A.link(href="#") Яйца фаберже
