include ../abstracts/bemto/bemto.pug


+b.slider
  +e.img(src="img/slide.jpg" alt="slide")
  +e.img(src="img/slide.jpg" alt="slide")
  +e.img(src="img/slide.jpg" alt="slide")
  +e.img(src="img/slide.jpg" alt="slide")
  +e.img(src="img/slide.jpg" alt="slide")